@model List<CityViewModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Şehir Adı</th>
		<th>Ülke Adı</th>
		<th>İşlemler</th>
	</tr>
	@foreach (var city in Model)
	{
		<tr>
			<td>@city.Id</td>
			<td>@city.CityName</td>
			<td>@city.CountryName</td>
			<td>
				<a href="/City/Delete/@city.Id" class="btn btn-danger">Sil</a>
				<a href="/City/Update/@city.Id" class="btn btn-warning">Güncelle</a>
			</td>
		</tr>
	}
</table>
<a href="/City/Add/" class="btn btn-success">Ekle</a>


