@{
	Layout = null;
}
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Özka İnşaat Task</title>
	<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		@RenderBody()
	</div>

	<script src="~/js/bootstrap/bootstrap.bundle.js"></script>
</body>
</html>
